
@{

}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Create Allowance
</button>

<div class="card">

    <div class="card-header">
        <h3>Allowances / List</h3>
    </div>

    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="tableContent">
               
                
            </tbody>
        </table>
    </div>

</div>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Create Allowance</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="/Allowance/Save" id="AllowanceForm">
            <div class="modal-body">
               
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Housing Allowance">
                    </div>

                    <div class="mb-3">
                        <label for="amount" class="form-label">Amount</label>
                        <input type="number" class="form-control" id="amount" name="amount" placeholder="1,000">
                    </div>


                    <div class="mb-3">
                        <label for="description" class="form-label">description</label>
                        <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                    </div>

               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{

    <script>

        $(document).on('submit', '#AllowanceForm', function (e) {
            e.preventDefault();

  

            $.post($(this).attr("action"), 
            {
                name: $("#name").val(), 
                description: $("#description").val(),
                amount: $("#amount").val() 
            }).then(response => {

                if(response.success){

                    //hide the modal
                        $('#exampleModal').modal('hide');

                    //refresh my table

                    allowanceTableRequest();

                    //clear the form
                    $("#AllowanceForm").trigger('reset');


                }

            })

        });
        

        $(document).ready(function () {

            allowanceTableRequest();

        });

        function allowanceTableRequest() {
            $.get("/Allowance/Table").then(response => {
                console.log(response);

                if (response.success) {

                    $("#tableContent").html('');


                    response.list.forEach((element, index) => {

                        $("#tableContent").append(` <tr>
                                                            <th scope="row">${index + 1}</th>
                                                            <td>${element.name}</td>
                                                            <td>${element.amount}</td>
                                                            <td></td>
                                                        </tr>`)


                    })

                }


            });
        }

    </script>
}




