
@{
}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary load-modal" data-bs-toggle="modal" data-bs-target="#exampleModal" data-id="0" >
    Add Employee
</button>

<div class="card">
    <h2 class="card-header">Employees / List</h2>
    <div class="card-body">
        <table class="table">
            <thead >
                <tr>
                    <th scope="col">#</th> 
                    <th scope="col">Name</th>
                    <th scope="col">Department</th>
                    <th scope="col">Job Title</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="tableContent">
                
                
            </tbody>
        </table>

    </div>

</div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="content">

    </div>
</div>

@section Scripts{
<script>

    $(document).on('submit', '#EmployeeForm', function (e) {
        //e.preventDefault()



       /* $.post($(this).attr("action"), { 
            name: $("#name").val(), 
            department: $("#department").val(), 
            jobTitle:$("#jobTitle").val() 
        }).then(response => {

            if (response.success) {
                //hide the model
                $('#exampleModal').modal('hide');

                //refresh my table
                employeeTableRequest();


                //clear the form
                $("#EmployeeForm").trigger("reset")

            }

         })*/
        });


   $(document).ready(function () {
       employeeTableRequest();
   });

    $(document).on("click",".load-modal", function(){

        $.get("/Employee/Create/" + $(this).data("id")).then(response => {
            console.log(response);

            $(".modal #content").html(response)
        })
    })

        $(document).on('click', '.delete-employee', function () {
            const employeeId = $(this).data('id');
            $.post("/Employee/Delete", { id: employeeId }).then(response => {
                if (response.success) {
                    employeeTableRequest();
                } else {
                    alert(response.message);
                }
            });
        });

    function employeeTableRequest() {
            $.get("/Employee/Table").then(response => {
                console.log(response);

                if (response.success) {

                    $("#tableContent").html('');

                    response.list.forEach((element, index) => {

                        $("#tableContent").append(` <tr>
                                                            <th scope="row">${index + 1}</th>
                                                            <td>${element.name}</td>
                                                            <td>${element.department} </td>
                                                            <td>${element.jobTitle} </td>
                                                            <td>
                                                                       <div class="btn-group btn-xs">
                                                                                       <button  data-id="${element.id}" class="btn btn-info load-modal"  data-bs-toggle="modal" data-bs-target="#exampleModal">edit</div>
                                                                               <button class="btn btn-danger delete-employee" data-id="${element.id}">delete</div>
                                                                       </div>
                                                            </td>
                                                           </tr> `)


                    })
                }
            })

    }
    

</script>
}
